body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.scroll-container {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
}

.seccion {
    min-width: 100vw;
    height: 100vh;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    color: aliceblue;
    display: grid;
    place-items: center-;
}

h2 {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .seccion {
        min-width: 100%;
    }
    
    /* [Tu código CSS anterior] */

    .nav-btn {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        width: 80px;
        height: 40px;
        background-color: #333;
        color: #fff;
        border: none;
        font-size: 14px;
        cursor: pointer;
    }

    .nav-btn.nav-prev {
        left: 0;
    }

    .nav-btn.nav-next {
        right: 0;
    }
}
